* {
    margin: 0;
    padding: 0;
}

form {
    width: 37rem;
    height: 35rem;
    border: 0.1rem solid #000;
    margin: 2rem auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

form label {
    display: block;
    margin: 0.5rem 0 0.5rem 0;
}

form input {
    width: 97%;
    height: 1rem;
    padding: 0 0.5rem 0 0.5rem;
    border: 0.1rem solid #000;
}

form input[type="checkbox"] {
    width: 1rem;
    height: 0.8rem;
    position: relative;
    bottom: 1rem;
    left: 36rem;
}
